@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
  --primary-color: rgb(22, 22, 22);
  --secondary-color: #4630eb;
  --fontcolor: white;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'poppins', sans-serif;
  background-color: var(--primary-color);
  color: var(--fontcolor);
}

/* Global */
.container{
  max-width: 80%;
  margin: auto;
  overflow: auto;
}
header{
  background-color: var(--primary-color);
  color: var(--fontcolor);
}

.head{
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}
header a{
  text-decoration: none;
  display: inline-block;
  color: var(--fontcolor);
}
.head .info{
  padding: 15px;
  display: flex;
}
.icon{
  width: 20px;
  height: 25px;
}
.logo{
  display: inline-block;
  letter-spacing: 3px;
  font-weight: 510;
  padding: 5px 0;
}

/* Showcase */
.showcase{
  position: relative;
  background: url('/img/image3.png') no-repeat center center/cover;
  height: 550px;
}
.content-1{
  line-height: 2;
  letter-spacing: 2px;
}
.content-1 ul{
  list-style: none;
  margin: 0;
  padding: 0;
  padding: 20px;
}
.content-1 ul li{
  margin-left: 2em;
  position: relative;
}
.content-1 ul li::before{
  content: '';
  left: -2em;
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url('/img/bullet.svg');
  background-size: contain;
  margin-right: .5em;
}

.image{
  width: 100%;
  height: 100%;
}
.card{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  background: #333;
  margin-bottom: 2rem;
}
.card img{
  height: 400px;
}
.card .content-1{
  padding: 2rem;
}
.card:nth-child(even) img{
  order: 2;
}
.my-2{
  margin: 1.5rem 0;
}
.mb-1{
  margin-bottom: 1.5rem;
}
.py-2{
  padding: 2rem 0;
}
.pt-2{
  padding-top: 2rem;
}
.pb-2{
  padding-top: 2rem;
}
.underline{
  height: 5px;
  width: 100px;
  background-color: var(--secondary-color);
  border-radius: 10px;
  margin-bottom: 10px;
}
.atag{
  text-decoration: none;
  color: var(--fontcolor);
}
.icon-social{
  display: inline-block;
  padding: 10px 10px 10px 0;
  font-size: 1rem;
  color: var(--secondary-color);
  transition: .5s ease;
}
.icon-social:hover{
  color: var(--fontcolor);
}

.heading{
  font-size: 20px;
}
.section-heading{
  text-align: center;
  font-size: 3rem;
}
.subheading{
  font-size: 1.5rem;
  line-height: 1;
  font-weight: 400;
  border-width: 0 0 0 3px;
  border-style: solid;
  border-color: var(--secondary-color);
  padding-left: 15px;
  
}

.hero-heading{
  font-size: 3.5rem;
  text-align: center;
  padding: 30px;
  font-weight: 600;
  letter-spacing: 2px;
  padding-top: 210px;
  animation-name: message;
  animation-duration: 5s;

}
@keyframes message{
  0% {opacity: 0}
  100% {opacity: 1}
}

.green {
  box-shadow: 0 0 0 0 rgba(51, 217, 178, 1);
  animation: pulse-green 2s infinite;
}

@keyframes pulse-green {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(51, 217, 178, 0.7);
  }
  
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(51, 217, 178, 0);
  }
  
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(51, 217, 178, 0);
  }
}


.portfolio{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;

}
.portfolio .item{
  position: relative;
  max-width: 350px;
  height: 300px;
}
.portfolio .item img{
  width: 100%;
  height: 100%;
}
.portfolio .item .action{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.5s;
}
.portfolio .item .action p{
  cursor: pointer;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  border: 1px solid #fff;
  padding: 5px 15px;
}
.portfolio .item:hover .action{
  opacity: 1;

}

/* zoom image */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding: 20px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
}
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

.modal-content{  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

 
.contact{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 60px 0;
    line-height: 2;
    display: grid;
 }
 
 footer{
   text-align: center;
   padding: 10px;
 }
 .social-icon{
   display: inline-block;
   margin: 5px;
   padding: 5px 0;
 }
.social-icon img{
  width:30px;
  height: 35px;
}
.contact-info, .address{
  line-height: 2;
  letter-spacing: 2px;
}

/* Media Queries */
@media(max-width: 768px){

  .head{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card{
    display: block;
  }
  .image{
    display: none;
  }
  .content-1{
    box-shadow: 1px 3px 5px rgba(108, 250, 255, 0.233);
    align-items: center;
  }

  .modal-content {
    width: 100%;
  }
  .portfolio{
    grid-template-columns: 1fr;
    align-items: center;
    text-align: center;
    justify-items: center;
    gap: 10px;
  
  }

  .portfolio .item{
    box-shadow: 1px 3px 5px rgba(108, 250, 255, 0.233);
  }

  .contact{
    display: block;
 }
 .contact-info, .address, .social-media{
   margin-bottom: 1.5rem;
   padding: 1.5rem;
 }

 
}
