@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
  --primary-color: rgb(22, 22, 22);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'poppins', sans-serif;
}

/* Global */
.container{
  width:80%;
  margin:auto;
}
header{
  background-color: var(--primary-color);
  color: #f6f6f6;
}

.head{
  display: flex;
  justify-content: space-between;
}
header a{
  text-decoration: none;
  display: inline-block;
  color: #f6f6f6;
}
.head .info{
  padding: 15px;
  display: flex;
}
.icon{
  width: 20px;
  height: 25px;
}

/* Showcase */
.showcase{
  position: relative;
  background: url('/img/image3.png') no-repeat center center/cover;
  height: 550px;
}
.content-1 ul{
  list-style: none;
  margin: 0;
  padding: 0;
  padding: 20px;
}
.content-1 ul li{
  margin-left: 2em;
  position: relative;
}
.content-1 ul li::before{
  content: '';
  left: -2em;
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url('/img/bullet.svg');
  background-size: contain;
margin-right: .5em;
}
.section-2{
  background-color: var(--primary-color);
  color: #f6f6f6;
}
.box-one{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 10px;
  align-items: center;
  justify-content: center;
}
.image{
  border-radius: 4px;
  max-width: 100%;
}

.my-2{
  margin: 1.5rem 0;
}
.heading{
  font-size: 20px;
}
 .section-3{
   background-color: #20272E;
   color: #f6f6f6;
   
 }
 .contact{
  display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 20px;
   padding: 60px 0;
   line-height: 2;
 }

 footer{
   background-color: var(--primary-color);
   color: #f6f6f6;
   text-align: center;
   padding: 10px;
 }



/* Media Queries */
@media(max-width: 768px){

  .box-one{
    grid-template-columns: 1fr;
  }
 

 
}
